[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
LogoutTimeout=5


[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
DataDictionary=spec/FIX42.xml
SenderCompID=ADMIN
TargetCompID=ORDERMATCH
HeartBtInt=30 

#[SESSION]
#BeginString=FIX.4.4
#NonStopSession=Y
#UseDataDictionary=Y
#ValidateFieldsOutOfOrder=N
#DataDictionary=spec/FIX44.xml
#SocketConnectHost=fix.coinapi.io
#SocketConnectPort=3303
#SSLEnable=N
#SenderCompID=0F2A2207-9488-4FB7-B6D6-CE25C5FBF493
#TargetCompID=COINAPI
#HeartBtInt=10

#[SESSION]
#BeginString=FIX.4.4
#SocketConnectHost=fix.bitstamp.net
#SocketConnectPort=8905
#DataDictionary=spec/FIX44.xml
#SenderCompID=tkhk1323
#TargetCompID=BITSTAMP
#HeartBtInt=30
#Username=tkhk1323
#Password=Loy0890151051

#[SESSION]
#BeginString=FIX.4.2
#SocketConnectHost=10.22.61.21
#SocketConnectPort=7980
#DataDictionary=spec/FIX42.xml
#SenderCompID=DMD_TOP03
#TargetCompID=SET
#HeartBtInt=30
#Username=DMD_TOP03
#Password=ffffff@2

